.About_me{
    color: red;
}

.big_text{
    font-size: 2rem;
}

.TopOfPage{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #000000;
}
#Social >ul > li{
    color:yellow;
    text-align: center;
    background-color: purple ;
    font-size: 2rem;
}
a:hover{
    cursor:pointer;
    color: rgb(119, 119, 29);
}
#Pinfo{
    color: black;
}

.Section_starter{
    text-align: center;
    font-size: 2rem;
    background-color: #000000;
    color: #fff;

}
.certfications{
    display: grid;
    grid-column: 2;
    object-fit: cover;
    grid-template-columns: repeat(5, 1fr);

    
}

#hell{
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/fire_BG.png);
}
@media only screen and (max-width: 712px){
    .big_text{
        font-size: 1rem;

    }
    h4{
        font-size: 0.5rem;
    }
    .certfications{
        grid-template-columns: repeat(2, 1fr);
    }
}