.About_me{
    color: red;
}


.TopOfPage{
    color: red;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #633232;
}

#Pinfo{
    color: black;
}

.Section_starter{
    text-align: center;
    font-size: 200%;
}