*{
    color: #000;
}
h1, h2{
    text-align: center;
}

.cat-head {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(#643737 85%, #633232 20%);
  width: 205px;
  height: 180px;
  border: 1px solid #000;
  border-radius: 46%;
}

.cat-ears, .cat-left-ear, .Right-ear{
    z-index: 1;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #643737;
}
.cat-left-ear {
    position: absolute;
    top: -30px;
    left: -31px;
    transform: rotate(-45deg);

}
.Right-ear {
  position: absolute;
  top: -26px;
  right: -31px;
    transform: rotate(45deg);

}

.inner-right{
    position: absolute;
    top: 21px;
    right: -12px;
    width: 20px;
    height: 25px;
    border-radius: 59%;
    background: linear-gradient(#a844a0 100%, #633232 20%);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #f30000;    
    border: 1px solid #b33aa8;
    z-index: 2;
}

.inner-left{
    position: absolute;
    top: 21px;
    right: -12px;
    width: 20px;
    height: 25px;
    border-radius: 59%;
    background: linear-gradient(#a844a0 100%, #633232 20%);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #f30000;    
    border: 1px solid #b33aa8;
    z-index: 2;
}

