:root{
    --cat-eye-color: radial-gradient( #000000 10%, #000000 20%, #18c42c 30%, #02ff1f 100%);
}
*{
    color: #000;
}
h1, h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#Message_for_user{
    text-align: center;
    font-weight: 900;
}
    
/* Cat */
.cat-head {
  position: absolute;
  right: 0;
  left: 0;
  top: -8rem;
  bottom: 2rem;
  margin: auto;
  background: linear-gradient(#643737 85%, #633232 20%);
  width: 205px;
  height: 180px;
  border: .2rem solid #000;
  border-radius: 46%;
  transition: transform 3s ease-in 0ms;
  
}
.cat-head:active{
    transform: scale(2);
    
    
}


.cat-left-ear, .Right-ear{
    
    z-index: 1;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #522929;
    
    top: -26px;
}
.cat-left-ear {
    position: absolute;
   
    left: -31px;
    transform: rotate(-45deg);

}
.Right-ear {
  position: absolute;
 
  right: -31px;
    transform: rotate(45deg);

}

.inner-right{
    position: absolute;
    top: 21px;
    right: -12px;
    width: 20px;
    height: 40px;
    border-radius: 59%;
    background: linear-gradient(#a844a0 100%, #633232 20%);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #f30000;    
    border: 1px solid #b33aa8;
    z-index: 2;
}

.inner-left{
    position: absolute;
    top: 21px;
    right: -12px;
    width: 20px;
    height: 40px;
    border-radius: 59%;
    background: linear-gradient(#a844a0 100%, #633232 20%);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #f30000;    
    border: 1px solid #b33aa8;
    z-index: 2;
}

.eyes > div{
    position: absolute;
    border-radius: 60%;
    width: 45px;
    height: 35px;
    border-width: 200px;
    
    
    
    animation-play-state: st;
    background: var(--cat-eye-color);
    
    
}
.cat-head:active .eyes>div {
    background: radial-gradient( #000000 10%, #000000 20%, #c41818 30%, #ff0202 100%);
}


.Right-eye{
    right: 25px;
    top: 40px;
    
    
}
.Left-eye{
    left: 25px;
    top: 40px;
    
}

.nose {
  position: absolute;
  top: 55px;
  left: -50px;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(180deg);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #ffaaf8;
}

.mouth>div{
    z-index: 2;
    position: absolute;
    border: 2px solid #000;
    width: 50px;
    height: 50px;
    top: 35px;
    border-width: 20%;
    border-radius: 190%/190px 150px 0 0; 
    rotate: 180deg;
    border-color: rgb(20, 20, 20) transparent transparent transparent;
}

.left-mouth{
    left: -4.5rem;

}
.right-mouth{
    right: 2.4rem;

}

.tooth{
    position: absolute;
    size: 1rem;
    
    top: 157%;
    
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 4.5rem solid #ffffff;
    rotate: 180deg;
}
.tooth.Left{
    left: -190%;
    transform: scale(0.2) rotate(10deg);
}

.tooth.Right{
    right: 55%;
    transform: scale(0.2) rotate(-10deg);
}




