.models{
    color: red;
    background-repeat: repeat round;
    /*Background credit gose to onion_fleur on twiter (I am not calling it X)*/
    background-image: url("images/background_for_models.jpg");
    
    
}


*{
    color: #000;
}
h1, h2{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.models_from_X{
    text-align: center;
    font-size: 2rem;
}

.model_lineup{
    display: grid;
    grid-column: 2;
    object-fit: cover;
    grid-template-columns: repeat(5, 1fr);
    
    
}

.model_lineup img{
    height: 20rem;
    width: 20rem;
}

@media only screen and (max-width: 824px){
    .model_lineup{
        grid-column: 1;
        grid-template-columns: repeat(2, 1fr);
    }
}